# Visual Studio directory
.vs/

# Visual Studio databases
*.VC.db

# Precompiled headers
*.ipch
*.pch

# Linker/compiler intermediates
*.ilk
*.pdb

# Build artifacts for Minecraft.World
Minecraft.World/x64_Debug/Minecraft.World.lib
Minecraft.World/x64_Release/Minecraft.World.lib